body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}

.brikke
{
    padding:1em; border: .15em black solid; height: 100px; width: 100px; float:left;
}
.brikke img
{

    width: 100px;  height: 100px; float:left; margin: 0;
}
.brett
{
    border:.15em black solid;
}
.rad
{
 float:left; clear:both; padding-left: 50em;
}
.overskrift
{
    font: 1.5em verdana; margin : 2em;
}